.App {
  text-align: center;
}
/* .center {
  display: flex;
  justify-content: center;
} */
.pistrus {
  display: flex;
  justify-content: center;
}

.sizi {
  max-width: 450px;
  max-height: auto;
}
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
